VITE_FB_API_KEY=AIzaSyBubumxY8gHFPMxepyGBv9nqG4j3OGl830
VITE_FB_AUTH_DOMAIN=vector-circle.firebaseapp.com
VITE_FB_DB_URL=https://vector-circle-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FB_PROJECT_ID=vector-circle
VITE_FB_STORAGE_BUCKET=vector-circle.firebasestorage.app
VITE_FB_MESSAGING_SENDER_ID=263026157209
VITE_FB_APP_ID=1:263026157209:web:5bbcd7797c75093a7aba08